@import "lib/size";
@import "lib/reset";
@import "lib/swiper";
body{background: #257080;color: #fff;}
.swiper-slide{border: 1px solid #000}
.swiper-container{position: relative}
.swiper-pagination{position: absolute;}
.swiper-pagination-bullet{height: 7px;width:  7px;margin: 3px 0}
i{display: block;}
.text-center{text-align: center;}
.index{background: url(../images/index-bg.jpg) no-repeat;background-size:100% 100%;}
.top-pad{padding-top: 25px;}
.page-content{width: 15rem;margin: 0 auto}
.page2-icon{background: url(../images/bg1.jpg) no-repeat;}
.page3-icon{background: url(../images/bg2.jpg) no-repeat;}
.page3-icon,.page2-icon{display: block;height: 118px;background-size: 100% 100%;width: 7px;}
.page2-text{padding: 20px 30px;font-size: 25px;color: #fff;}
.form{background: #fff;padding: 15px;}
input{display: block;border:1px solid #ccc;height: 25px;width: 100%;margin-bottom: 10px;font-size: 15px;padding: 0 5px}
.btn{background: #217fbc;color: #fff;text-align: center;padding: 0;margin: 0;height: 30px;width: 100%;border: 0 none;font-size: 15px}
article{text-indent: 2em;color: #fff;font-size: 14px;margin-top: 10px;line-height: 1.5}
.page3 .article-date{text-indent:0;color: rgb(245, 156, 0)}
.box{display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;}
.page4 .title{font-size:25px; line-height: 1.2}
.page4-content{width: 100%;}
.page4-icon{width: 7px;height:327px;background:url(../images/bg4.png) no-repeat;background-size: 100% 100%;margin-top: 15px;}
.page4 .icon-flow{margin: 10px auto}
.title{font-size:30px;color: #fff;text-align: center;}
.icon-flow{background: url(../images/icon-flower.png) no-repeat;display: block;width: 165px;height: 13px;background-size: 100% 100%;margin:  0 auto;}
.hotel-info{color: #fff;font-size: 13px;text-align: center;padding: 0 10px;line-height: 2}
.page6 article{margin-top: 40px; line-height: 1.8}
.room-list{display: block;width: 80%;margin:  0 auto;text-indent: 0}
.room-list li{display: -webkit-box}
.room-list li p{-webkit-box-flex: 1}
.last-must article{line-height: 1.5;}
.day .title{font-size:22px; line-height: 1.2}
.day-list{}
.day-list p{display: -webkit-box;-webkit-box-align: center;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;line-clamp: 2;}
.day-list li{display:-webkit-box;font-size: 22px;padding: 10px 0}
.day-list-flex{-webkit-box-flex: 1;padding: 0 10px;height:25px }
.day-list-flex+p{width: 60px;text-align: center;}
.page-btn{display: block;width: 100%;height: 45px;margin-top: 15px;font-size: 13px;background: rgba(0,0,0,.7);color:#fff;}
h2{width: 150px;padding-left: 15px;font-size: 20px;background:#217fbc;line-height: 35px;height: 35px }
h3{font-size: 16px;}
h2,h3{font-weight: 400;margin-top: 10px}
h3~p{font-size: 13px;line-height: 1.5}
img{display: block;width: 100%;}
.page5 .page-content{width: 100%;}
.img-wrap{position: relative;}
.img-wrap img{height:190px; }
.img-wrap i{background: #257080;opacity: .4;height: 140px;width: 140px;position: absolute;left: 50%;top:50%;transform: rotate(45deg);-webkit-transform: rotate(45deg);margin: -70px  0 0 0 -70px;}
.img-wrap p{display: -webkit-box;position: absolute;height: 140px;width: 130px;left: 50%;top:50%;margin: -70px  0 0 0 -65px;text-align: center;-webkit-box-pack: center;-webkit-box-align: center}
.page5 .text-center{line-height: 80px;height: 80px;font-size: 30px;}
