<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>全国交通运输通信信息中心工作交流会</title>
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no,minimal-ui"/>
  <!--  <script type="text/javascript" src="../public/js/lib/resize.js"></script>-->
    <link rel="stylesheet" href="../public/css/index.css"/>
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide index"></div>
            <div class="swiper-slide page2 top-pad ">
                <div class="page-content">
                    <i class="page2-icon"></i>
                    <p class="page2-text"> 为顺利开展活动，请您认准填写以下信息</p>
                    <div class="form">
                        <input placeholder="请填写姓名" type="text" >
                        <input placeholder="请填写手机号码" type="text" >
                        <input placeholder="请填写职务" type="text" >
                        <button type="button" class="btn">提交</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page3 top-pad ">
                <div class="page-content">
                    <i class="page3-icon"></i>
                    <article>
                        <p>各位领导、各位代表：各位领导、各位代表：</p>
                        <p>您好！</p>
                        <p>金秋十月，丹桂飘香。欢迎您来到四川成都参加2015年全国交通运输通信信息中心主任工作交流会议暨“互联网+”交通发展研讨会，我们会务组全体工作人员将竭诚为您提供周到、细致的服务。</p>
                        <p>为保证会议的顺利进行，请您仔细阅读《会议指南》。</p>
                        <p>祝各位领导、代表在川期间工作顺利，身体健康，心情愉快！</p>
                    </article>
                    <article class="article-date">
                        <p>会议日期：2015年1014日</p>
                        <p>会议地点：四川省成都市</p>
                        <p>会议地址：四川省成都市顺城大街</p>
                    </article>
                </div>

            </div>
            <div class="swiper-slide page4 box">
                <div class="page-content">
                    <p class="title text-center">2015年全国交通运输通信</p>
                    <p class="title text-center">信息中心主任工作交流会议</p>
                    <p class="title text-center">会议目录</p>
                    <i class="page4-icon"></i>
                    <button type="button" class="page-btn">会议须知</button>
                    <button type="button" class="page-btn">参会代表</button>
                    <button type="button" class="page-btn">分组安排</button>
                </div>
            </div>
            <div class="swiper-slide page5 box">
                <div class="page-content">
                    <div class="img-wrap">
                        <img src="../public/images/bg5.jpg" alt=""/>
                        <i></i>
                        <p>四川&#12288;成都</p>
                    </div>
                    <p class="text-center">会议地址</p>
                    <div class="img-wrap">
                        <img src="../public/images/hotel.jpg" alt=""/>
                        <i></i>
                        <p><span>成都银河王朝大酒店</span></p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide page6 box">
                <div class="page-content">
                    <p class="title">会议须知</p>
                    <article>
                        <p>尊敬的各位领导、专家和代表：</p>
                        <p>欢迎您来到四川成都参加2015年全国交通运输通信信息中心主任工作交流会议暨“互联网+”交通发展研讨会，为方便您在会议期间的工作和生活，确保会议取得圆满成功，现就有关事项告知如下：</p>
                        <p>1.您下榻的是成都市银河王朝大酒店（位于顺城大街88号），总机：028-86618888。宾馆内拨打房间电话，请直接拨房间号，拨打市话，在号码前加拨“0”。</p>
                        <p>2.会议代表在会议期间请随身佩带“代表证”，便于酒店和会务工作人员提供服务。</p>
                    </article>
                </div>
            </div>
            <div class="swiper-slide page6 box">
                <div class="page-content">
                    <p class="title">会议须知</p>
                    <article>
                        <p>3.会议代表请按会议日程安排，提前10分钟进入会场，按指定座位就坐，并请将随身携带的移动电话等通讯设备设置在关闭或振动状态。</p>
                        <p>4.会议期间用餐均为自助餐，用餐地点在南3楼西餐厅（早餐是否同一地址？）。</p>
                        <p>用餐时间：早餐07:00～09:00；午餐12:00～14:00；晚餐18:00 ～20:00（14日晚餐延长至21:00）。</p>
                        <p>5.本次会议为各位代表提供了会务、医务等服务项目，如您有需求请联系工作人员送机、送站时间若有变化请在出发时间前1天告知会务组，以便安排车辆。</p>
                    </article>
                </div>
            </div>
            <div class="swiper-slide page6 box">
                <div class="page-content last-must">
                    <p class="title">会议须知</p>
                    <article>
                        <p>（1）会务组&#12288;房间</p>
                        <ul class="room-list">
                            <li>
                                <p>姓名：休息休息</p>
                                <p>手机：13500000000</p>
                            </li>
                            <li>
                                <p>姓名：休息休息</p>
                                <p>手机：13500000000</p>
                            </li>
                            <li>
                                <p>姓名：休息休息</p>
                                <p>手机：13500000000</p>
                            </li>
                        </ul>
                        <p>（2）医疗组&#12288;房间</p>
                        <ul class="room-list">
                            <li>
                                <p>姓名：休息休息</p>
                                <p>手机：13500000000</p>
                            </li>
                            <li>
                                <p>姓名：休息休息</p>
                                <p>手机：13500000000</p>
                            </li>
                            <li>
                                <p>姓名：休息休息</p>
                                <p>手机：13500000000</p>
                            </li>
                        </ul>
                        <p>6.会议期间成都天气预报</p>
                        <ul class="room-list">
                            <li>10月14日：大雨转晴</li>
                            <li>10月14日：大雨转晴</li>
                            <li>10月14日：大雨转晴</li>
                            <li>10月14日：大雨转晴</li>
                        </ul>
                        <p>7.本次会议有关信息您可以关注四川省交通运输官方微博，
                            通过回复关键词“信息中心主任会”或“互联网+交通”了解详情。会议相关资料代表可通过
                        http://www.scjt.gov.cn自行下载。</p>
                    </article>
                </div>
            </div>
            <div class="swiper-slide top-pad page7 day">
                <div class="page-content" >
                    <div class="title">会议日程</div>
                    <p class="text-center">2014.10.10</p>
                    <ul class="day-list">
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex">我就解放我就解放我就解放</p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex">我就解放我就解放我就解放</p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex"></p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex"></p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex"></p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex"></p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex"></p>
                            <p>我就解放</p>
                        </li>
                        <li>
                            <p>09：00</p>
                            <p class="day-list-flex"></p>
                            <p>就解放</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-slide box">
                <div class="page-content">
                    <p class="title text-center">分组安排</p>
                    <h2>第一组</h2>
                    <h3>召集人&#12288;部规划师&#12288;留下</h3>
                    <p>浙江、四川、四川、四川、ssss四川、四川、四川、四川、四川、四川、四川、四川、四川、四川、四川、四川</p>
                    <p>会议地点：南五楼</p>
                    <h2>第二组</h2>
                    <h3>召集人&#12288;部规划师&#12288;留下</h3>
                    <p>浙江、四川、四川、四川、ssss四川、四川、四川、四川、四川、四川、四川、四川、四川、四川、四川、四川</p>
                    <p>会议地点：南五楼</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="../public/js/lib/swiper.min.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>